.search {
  display: flex;
  width: 753px;
  height: 40px;

  align-items: center;
  justify-content: center;
}
.headersearch {
  display: inline-block;
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #f0f5ff;
}
.searchcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.searchbtn {
  height: 40px;
  border-radius: 2px;
  cursor: pointer;
  padding: 8px 8px 8px 12px;
  background-color: transparent;
  border: none;
}
.searchinput {
  border-radius: 4px;
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: transparent;
}
.searchinput input {
  border: 0;
  outline: 0 none;
  font-size: 17px;
  height: 40px;
  width: 100%;
  background-color: transparent;
}
